************************

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


.all_nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
}

/* media navbar */



.logo_div {
    display: flex;
    margin-left: 70px;

}

.logo_div img {
    height: 85px;
    width: 210px;
}

.li_and_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_div {
    display: flex;
    width: 50vw;
    position: relative;
    /* right: 70px; */
    justify-content: center;
    align-items: center;
}

.li_div .nav {
    display: flex;
    list-style: none;
    margin-right: 20px;
    /* position: relative;
        left: 100px; */

}

.li_div .nav li {
    margin: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.li_div .nav li a {
    text-decoration: none;
    color: rgba(2, 10, 55, 1);
    font-weight: 500;
}

.contact_btn {
    display: flex;
    height: 70px;
    width: 130px;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 80px;
}

.contact_btn button {
    height: 35px;
    width: 105px;
    background: none;
    border: 1px solid rgba(198, 156, 7, 1);
    color: rgba(198, 156, 7, 1);
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

#hidden {
    display: none;
}

.media_logo_div img {
    display: none;
}

.media_nav {
    display: none;
}

.bootstap_below_cover {
    display: none;
}

.media_nav {
    display: none;
}

.bootstap_below_cover {
    display: none;
}

.media_logo_div img {
    display: block;
    height: 60px;
}

.media_logo_div {
    height: 60px;


}
/* ************************ */



/* 
@media screen and (max-width: 1290px) {


    .up_inside {
        height: 700px;
    }

    .box {
        height: 510px;
        width: 28%;
    }

    .seven_img_first {
        width: 187px;
    }

    .seven_img_first img {
        width: 100%;
    }

    .cover_detail {
        height: 480px;
        width: 42vw;
    }

    .Cover_detail_photo {
        position: relative;
        top: 108px;
        left: 142px;
    }

    .Cover_detail_photo img {
        width: 100%;
    }
}



@media screen and (max-width: 1190px) {
    .cover_detail {
        height: 480px;
        width: 35vw;
    }

    .Cover_detail_photo {
        position: relative;
        top: 210px;
        left: 170px;
    }

    .Cover_detail_photo img {
        width: 75%;
        height: 61%;
    }

} */


@media screen and (max-width: 960px) {

    .media_logo_div{
        display: block;
      }
    /* #hidden {
        display: none;
    } */

    .burger {
        display: block;
    }

    .below_cover {
        display: none;
    }

    .bootstap_below_cover {
        display: block;
    }



    /* Navbar burger related css  */

    .all_nav {
        display: none;
    }

    .media_nav {
        width: 100vw;
        display: block;
        display: flex;
        justify-content: space-between;
    }

    .media_logo_div {
        margin: 5px 10px;
    }

    .burger {
        margin: 10px;
    }

    .burger li {
        list-style: none;
        height: 6px;
        width: 46px;
        background-color: rgba(2, 10, 55, 1);
        margin: 5px;
        border-radius: 10px;
    }


    /* Navbar burger related css end */


    /* navbar slide down realted css */

    .hide_nav {
        width: 100vw;
        height: 350px;
        background-color: white;
    }

    .hide_logo_cross {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide_img {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide_img img {
        width: 120px;
        height: 60px;
    }

    .hide_ross img {
        margin: 10px;
        height: 28px;
        width: 28px;

    }

    .hide_img {
        height: 60px;
        margin: 10px;
    }

    .hide_nav-item {
        margin: 30px 20px;
        list-style: none;

    }

    .hide_nav-item a {
        color: rgba(2, 10, 55, 1);
        text-decoration: none;
    }

    .hide_contact_btn {
        position: relative;
        left: 4px;
        bottom: 35px;
    }

    /* navbar slide down realted css end */

    .li_and_button {
        display: none;
    }

    .cover_photo {
        flex-direction: column;
        height: 788px;
    }

    .Cover_detail_photo {
        top: 0;
    }

    .Cover_detail_photo .all_hide0 {
        display: none;
    }

    .Cover_detail_photo .all_hide1 {
        display: block;
        width: 58vw;
        height: 358px;
    }

    .secound_cover {
        flex-direction: column;
        height: 900px;
    }

    .second_detail {
        width: 100%;
        text-align: center;
        height: 350px;
    }

    .second_right_photo {
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .four_para {
        font-size: 20px;
    }


    .up_section {
        height: 2500px;
    }


    .inside_up_section {

        height: 2300px;

    }

    .up_inside {
        flex-direction: column;
        height: 2100px;
    }


  

    .box_detail {
        width: 50vw;
    }

    .box_heading h3 {
        font-size: 35px;

    }

    .box_detail p {
        font-size: 25px;
        font-weight: 300;
    }

    .seven_photo {
        display: none;
    }

    .seven_photo0 {
        display: block;
        width: 90vw;
        height: 800px;

    }

    .two_photo {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .seven_img_first {
        margin: 10px 30px;
    }

    .eight_section {
        height: 900px;
        width: 90vw;
        display: flex;
        justify-content: center;
        /* overflow: hidden; */

    }

    .eight_para p {
        left: 400px;
    }


}


